<!-- square brackets equals property binding here we have it on 'disabled' we are making it dynamic - dynamically bind some property, directly binding to the native html disabled property, this then updates dynamically. once allowNewServer changes this updates the button so it goes from disabled to enabled after 2 seconds -->
<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<!-- diffferent approach using directive of ngModel -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">
  Server was created, server name is {{ serverName }}
</p>
<ng-template #noServer><p>No server was created!</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>

<hr />

<!-- Assignment -->
<label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName" />
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!userName"
  (click)="userNameEmptyString()"
>
  Re-set username
</button>

<!-- don't mix property binding and string interpolation! -->

<!-- here we are binding the 'click' event and executing the onCreateServer method when the button is clicked -->

<!-- You can basically bind to all Properties and Events of HTML elements. A god idea is to console.log() the element and see which ones it offers. -->

<!-- $ gives us access to event data -->

<!-- two way data binding - using ngModel will trigger on the inout event and update value of server name in our component automatically it will also update the value of the inout if we change server name somewhere else. -->

<!-- ngIf is a structural directive - either adds element or doesn't add it. Requires the *. Has to be true/false -->

<!-- Assignment2 -->
<!-- We need to define a white-text class name, set color to white, this should be only attached at element 5 or higher. Property binding (square brackets), pass JS object to the ngClass property on the ngClass directive  -->
<hr />
<!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">
  Display Details
</button> -->
<button class="btn btn-primary" (click)="onToggleDetails()">
  Display Details
</button>
<p *ngIf="showSecret">Secret Password = tuna</p>
<div
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text': i >= 4 }"
>
  {{ logItem }}
</div>
