<div class="container">
  <div class="row">
    <div class="col-xs-12"></div>
    <h3>I'm in the app component!</h3>
    <hr />
    <!-- 1. select by element: -->
    <app-servers></app-servers>
    <!-- 2. select by custom attribute -->
    <!-- <div app-servers></div> -->
    <!-- 3. select by class we have added -->
    <!-- <div class="app-servers"></div> -->
    <!-- <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert> -->
  </div>
</div>

<!-- This is the root component we will nest other components inside here. -->
